@model IEnumerable<ECM_ExcellentWeb.Model.Dto.CategoryDTO>
<br />
<div class="row pb-2">
    <div class="col">
        <h1 class="text-primary">Category List</h1>
    </div>
    <div class="col text-end pt-1">
        <a asp-contoller="Category" asp-action="CreateCategory" class="btn btn-outline-primary"><i class="bi bi-plus-square-fill"></i> Create New Category</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Category Id
                </th>
                <th>
                    CompanyId
                </th>
                <th>
                    Category Name
                </th>
                <th>
                    Category Description
                </th>
                <th>
                    Category Image
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Company.CName</td>
                    <td>@item.CategoryName</td>
                    <td>@item.CategoryDescription</td>
                    <td>@item.CategoryImage</td>
                    <td>
                        <a asp-contoller="Category" asp-action="UpdateCategory" asp-route-categoryId="@item.Id" class="btn btn-success"><i class="bi bi-pencil-square"></i> </a>
                        <a asp-contoller="Category" asp-action="DeleteCategory" asp-route-categoryId="@item.Id" class="btn btn-danger"><i class="bi bi-trash-fill"></i> </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>